
/* yo this is edgar here
waddup */


* {
	margin: 0;
	padding: 0;

}

h1 {
	position: relative;
	z-index: 1;
	text-align: center;
	font-family: 'Bitter', serif;
	font-weight: 300;
	font-size: 2em;
	color: rgb(255,255,255);

}

h2 {
	font-size: 2em;
	color: #333;
	font-family: inherit;
	text-align: center; 
}

body{
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.42857;
	color: #666;
	text-rendering: optimizelegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga", "kern";

}


#name {
	font-size: 4em;
	color: #0EBFE9
}

#about {
	width: 100%;
	padding: 150px 0px;
	color: 
}

.navbar-default {
	background-color: rgb(255,255,255);
	padding: 10px 0px 0px 0px;
}
.nav {

	min-height: 52px;
	background-color: rgb(255,255,255);
}

.heading {
	position: absolute;
	top: 25%;
	width: 500px;
	left: 50%;
	margin-left: -250px;
}

#container {
    overflow:hidden;
    position:relative;
}


#pixie {

    z-index:0;
    background:-moz-linear-gradient(top, #261A1A,#352D2D) ;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#040429), color-stop(100%,#257eb7));
}


footer {
	padding: 25px 0px;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1em
}
span {
	min-height: 40px;

}

span.love {
	float: center;
	font-size: 1em;
	font-weight: bold;
    text-transform: none;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
    
}



ul.social-buttons {
	font-size: 25px;
	font-weight: bold;
    list-style: outside none none;
    float: right;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0px none;
    color: #FFF;
    background-color: #222;
    transition: all 0.3s ease 0s;
}

span.social-inline {
	text-align: center;
}


/*change the hover colour of social buttons here*/
.social-buttons> li {
	display: inline-block;
	padding-left: 5px;
    padding-right: 5px;
}


ul.social-buttons li a:hover, a:focus, a:active {
    outline: 0px none;
    background-color: #0EBFE9;
}

/*change the hover colour of navbar here*/
#topnav{
	font-weight: bolder;
	font-size: 16px;
	transition: all 0.3s ease 0s;


}

#topnav a:hover, a:focus, a:active{
	outline: 0px none;   
	color: #0EBFE9;
} 

/*Change active text color here*/
 
.navbar-default .navbar-nav li a:hover, 
.navbar-default .navbar-nav li a:focus {
    color: #0EBFE9;

}

.navbar-default .navbar-nav li a:hover, 
.navbar-default .navbar-nav li a:focus {
    color: #0EBFE9;

}


/*canvas {
	position: absolute;
	border: 2px solid #000;
	top=0px; left=0px;
	visibility: hidden;

}
*/